<div class="header-content">
    <h2>
        <i class="fa fa-cogs"></i>Gallery
    </h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-cogs"></i>
                Gallery
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div>
</div>
<div class="body-content animated fadeIn">
    <div class="row">

        <div class="col-sm-12">
            <button class="btn btn-sm btn-success" type="button" ui-sref="gallery-create">
                <i class="fa fa-plus"></i>
                &nbsp; Create New
            </button>
        </div>

        <div class="col-sm-12">

            <ul id="gallery">

                <li class="mix category-animal" data-value="4" ng-repeat="image in imageList" style="display: inline-block;">
                    <div class="gallery-item rounded shadow">
                        <a class="gallery-img" href="javascript:void(0);"><img alt="..." class="img-responsive full-width" src="{{image.uri}}"></a>
                        <div class="gallery-details">
                            <div class="gallery-summary">
                                <p>{{image.name}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item -->
                </li>

            </ul>

            <div class="col-sm-12 text-center" ng-show="page < totalPages">
              <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="callServer(null)">Load More ...</button>
            </div>

        </div>

    </div>

    <!-- /.row -->
</div>
<footer class="footer-content">
    2015 &copy; Mascova
</footer>
