<div class="header-content">
    <h2>
        <i class="fa fa-sign-in"></i>Login
    </h2>
</div>
<div class="body-content animated fadeIn">
    <div class="row">

        <form class="form-horizontal mt-10" ng-submit="login($event)" role="form">

            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title" translate="login.title">Sign In</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-sub-heading" ng-show="authenticationError">
                    <div class="callout callout-danger" translate="login.messages.error.authentication">
                        <strong>Failed to sign in!</strong>
                        Please check your credentials and try again.
                    </div>
                </div>
                <!-- /.panel-subheading -->

                <div class="panel-body no-padding">

                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="username" translate="global.form.username">Login</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="username" ng-model="username" placeholder="{{'global.form.username.placeholder' | translate}}" type="text">
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="password" translate="login.form.password">Password</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="password" ng-model="password" placeholder="{{'login.form.password.placeholder' | translate}}" type="password">
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-7">
                                <div class="ckbox ckbox-theme">
                                    <input checked id="rememberMe" ng-model="rememberMe" type="checkbox">
                                    <label for="rememberMe" translate="login.form.rememberme">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->

                    </div>
                    <!-- /.form-body -->

                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <button class="btn btn-success" translate="login.form.button" type="submit">Sign in</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.form-footer -->

                </div>
                <!-- /.panel-body -->

                <!-- /.panel-heading -->
                <div class="panel-sub-heading">
                    <div class="callout callout-warning">
                        <a class="alert-link" href="#/reset/request" translate="login.password.forgot">Did you forget your password?</a>
                    </div>
                    <div class="callout callout-warning">
                        You don't have an account yet?
                        <a class="alert-link" href="#/register">Register a new account</a>
                    </div>
                </div>
                <!-- /.panel-subheading -->

            </div>

        </form>

    </div>
</div>

<footer class="footer-content" ng-include="'scripts2/app/footer/footer.html'"></footer>
