<div class="header-content">
    <h2>
        <i class="fa fa-cogs"></i>Profile
    </h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-cogs"></i>
                Profile
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div>
</div>
<div class="body-content animated fadeIn">

    <form name="myForm">
        <fieldset>
            <legend>Upload on form submit</legend>
            Username:
            <input name="userName" ng-model="username" required size="31" type="text">
            <i ng-show="myForm.userName.$error.required">*required</i>
            <br>Photo:
            <input accept="image/*" name="file" ng-model="picFile" ngf-max-size="2MB" ngf-select required type="file">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large
                {{picFile.size / 1000000|number:1}}MB: max 2M</i>
            <img class="thumb" ng-show="myForm.file.$valid" ngf-thumbnail="picFile">
            <button ng-click="picFile = null" ng-show="picFile">Remove</button>
            <br>
            <button ng-click="uploadPic(picFile)" ng-disabled="!myForm.$valid">Submit</button>
            <span class="progress" ng-show="picFile.progress >= 0">
                <div ng-bind="picFile.progress + '%'" style="width:{{picFile.progress}}%"></div>
            </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </fieldset>
        <br>
    </form>
    <!-- /.row -->
</div>
<footer class="footer-content">
    2015 &copy; Mascova
</footer>
