<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content" ng-show="isAuthenticated()">
    <div class="media">
        <a class="pull-left has-notif avatar" href="page-profile.html">
            <img alt="admin" ng-show="account.profileImagePath == null" src="themes/blankon/1.1.1/assets/global/img/avatar/50/26.png">
            <img alt="admin" ng-hide="account.profileImagePath == null" ng-src="{{account.profileImagePath}}">
            <i class="online"></i>
        </a>
        <div class="media-body" ng-controller="UserProfileController">
            <h4 class="media-heading">Hello,
                <span id="account-firstName">{{account.firstName}}</span>
            </h4>
            <small>Group:
                {{account.group.name}}</small>
        </div>
    </div>
</div>
<!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->

<!-- Start left navigation - menu -->

<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span translate="global.title">jhipster</span> <span class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right"> -->

<!-- Start left navigation - footer -->
<div class="sidebar-footer" ng-show="isAuthenticated()">

    <a class="pull-left" data-placement="top" data-title="Profile" data-toggle="tooltip" id="profile" ui-sref="profile">
        <i class="fa fa-user"></i>
    </a>
    <a class="pull-left" data-placement="top" data-title="Lock Screen" data-toggle="tooltip" data-url="page-signin.html" href="javascript:void(0);" id="lock-screen">
        <i class="fa fa-lock"></i>
    </a>
    <a class="pull-left" data-placement="top" data-title="Setting" data-toggle="tooltip" href="javascript:void(0);" id="setting">
        <i class="fa fa-cog"></i>
    </a>
    <a class="pull-left" data-placement="top" data-title="Logout" data-toggle="tooltip" data-url="page-lock-screen.html" href="" id="logout" ng-click="logout()">
        <i class="fa fa-power-off"></i>
    </a>
</div>

<ul class="sidebar-menu" ng-switch="isAuthenticated()">
    <li ui-sref-active="active">
        <a ui-sref="home">
            <span class="icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="text">Home</span>
        </a>
    </li>
    <li class="sidebar-category" ng-switch-when="true">
        <span>Master</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-folder-open"></span>
        </span>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="category">
            <span class="icon">
                <i class="fa fa-list"></i>
            </span>
            <span class="text">Category</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="product">
            <span class="icon">
                <i class="fa fa-square"></i>
            </span>
            <span class="text">Product</span>
        </a>
    </li>
    <!-- <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="image">
            <span class="icon">
                <i class="fa fa-file-image-o"></i>
            </span>
            <span class="text">Image</span>
        </a>
    </li> -->
    <!-- <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="gallery">
            <span class="icon">
                <i class="fa fa-file-image-o"></i>
            </span>
            <span class="text">Gallery</span>
        </a>
    </li> -->
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="province">
            <span class="icon">
                <i class="fa fa-map-pin"></i>
            </span>
            <span class="text">Province</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="district">
            <span class="icon">
                <i class="fa fa-map-pin"></i>
            </span>
            <span class="text">District</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="subDistrict">
            <span class="icon">
                <i class="fa fa-map-pin"></i>
            </span>
            <span class="text">Sub District</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="village">
            <span class="icon">
                <i class="fa fa-map-pin"></i>
            </span>
            <span class="text">Village</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="gallery">
            <span class="icon">
                <i class="fa fa-file-image-o"></i>
            </span>
            <span class="text">Gallery</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="document">
            <span class="icon">
                <i class="fa fa fa-folder"></i>
            </span>
            <span class="text">Document</span>
        </a>
    </li>
    <li class="sidebar-category" ng-switch-when="true">
        <span>Transaction</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-transfer"></span>
        </span>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="sales-head">
            <span class="icon">
                <i class="fa fa-money"></i>
            </span>
            <span class="text">Sales</span>
        </a>
    </li>
    <li class="sidebar-category" ng-switch-when="true">
        <span>Report</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-book"></span>
        </span>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="sales-report">
            <span class="icon">
                <i class="fa fa-money"></i>
            </span>
            <span class="text">Sales Report</span>
        </a>
    </li>
    <li class="sidebar-category">
        <span>Account</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-user"></span>
        </span>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="settings">
            <span class="icon">
                <i class="glyphicon glyphicon-wrench"></i>
            </span>
            <span class="text">Settings</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="password">
            <span class="icon">
                <i class="glyphicon glyphicon glyphicon-lock"></i>
            </span>
            <span class="text">Password</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="sessions">
            <span class="icon">
                <i class="glyphicon glyphicon glyphicon-cloud"></i>
            </span>
            <span class="text">Sessions</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="profile">
            <span class="icon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <span class="text">Profile</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active">
        <a href="" ng-click="logout()">
            <span class="icon">
                <i class="glyphicon glyphicon-log-out"></i>
            </span>
            <span class="text">Log Out</span>
        </a>
    </li>
    <li ng-switch-when="false" ui-sref-active="active">
        <a ui-sref="login">
            <span class="icon">
                <i class="glyphicon glyphicon-log-in"></i>
            </span>
            <span class="text">Authenticate</span>
        </a>
    </li>
    <li ng-switch-when="false" ui-sref-active="active">
        <a ui-sref="register">
            <span class="icon">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </span>
            <span class="text">Register</span>
        </a>
    </li>
    <li class="sidebar-category" has-role="ROLE_ADMIN" ng-switch-when="true">
        <span>Admin</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-tower"></span>
        </span>
    </li>
    <li has-role="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="user-management">
            <span class="icon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <span class="text">User management</span>
        </a>
    </li>
    <li has-role="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="metrics">
            <span class="icon">
                <i class="glyphicon glyphicon-dashboard"></i>
            </span>
            <span class="text">Metrics</span>
        </a>
    </li>
    <li has-role="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="health">
            <span class="icon">
                <i class="glyphicon glyphicon-heart"></i>
            </span>
            <span class="text">Health</span>
        </a>
    </li>
    <li has-role="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="configuration">
            <span class="icon">
                <i class="glyphicon glyphicon-list-alt"></i>
            </span>
            <span class="text">Configuration</span>
        </a>
    </li>
    <li has-role="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="audits">
            <span class="icon">
                <i class="glyphicon glyphicon-bell"></i>
            </span>
            <span class="text">Audits</span>
        </a>
    </li>
    <li has-role="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="logs">
            <span class="icon">
                <i class="glyphicon glyphicon-tasks"></i>
            </span>
            <span class="text">Logs</span>
        </a>
    </li>
    <li has-role="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active">
        <a ui-sref="docs">
            <span class="icon">
                <i class="glyphicon glyphicon-book"></i>
            </span>
            <span class="text">API Docs</span>
        </a>
    </li>

</ul>

<!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->

<!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->
